# 区分1: A0001〜A0010
A000[1-9].java filter=section1
A0010.java filter=section1

# 区分2: A0005〜A0020
A000[5-9].java filter=section2
A001[0-9].java filter=section2
A0020.java filter=section2

# 区分3: A0021〜A0030
A002[1-9].java filter=section3
A0030.java filter=section3
